parameters:
	ignoreErrors:
		-
			message: '#^Method Worksome\\Socialite\\Provider\:\:additionalConfigKeys\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider.php

		-
			message: '#^Method Worksome\\Socialite\\Provider\:\:getUserByToken\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider.php

		-
			message: '#^Method Worksome\\Socialite\\Provider\:\:mapUserToObject\(\) has parameter \$user with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider.php

		-
			message: '#^Property Worksome\\Socialite\\Provider\:\:\$scopes type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Provider.php
